!!!
%html
  %head
    %title Tess Norquay
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-brand
          = link_to image_tag( 'handgesture.png'), root_path

        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "New Pin", new_pin_path
            %li= link_to "Account", edit_user_registration_path
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "About", pins_path(anchor: 'about-body')
            %li= link_to "Gallery", pins_path(anchor: 'pins-gallery')
            %li
              %a(href="http://www.medium.com") Blog
            %li= link_to "Contact", new_user_session_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"
      = yield
    .footer
