!!!
%html
  %head
    %title Tess Norquay
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .navbar-brand
        = link_to image_tag('handgesture.png'), root_path, class: 'handgesture'

      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "New Pin", new_pin_path, class: "admin-nav"
          %li= link_to "New Media", new_medium_path, class: "admin-nav"
          %li= link_to "Media", media_path, class: "admin-nav"
          %li= link_to "Account", edit_user_registration_path, class: "admin-nav"
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "admin-nav"
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Gallery", "#pins-gallery"
          %li= link_to "Media", media_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"
      = yield
    #footer
      .footer-container
        %a.button.footer-button{ :href => "mailto:norquaytess@gmail.com" }Email Me!
        %a.button.footer-button{ :href => "https://www.instagram.com/tessnorquay" }Follow Me!
      %p.email norquaytess@gmail.com
